{% extends 'homepage.html' %}
{% load static %}
{% block content %}
    <div class="content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="row justify-content-center">
              <div class="col-md-12">
                <h3 class="thin-heading mb-4">КОНВЕРТИРУЙТЕ ВИДЕО С YOUTUBE В MP3 И ПОЛУЧИТЕ ЕГО В СВОЮ ПОЧТУ</h3>
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                    {% csrf_token %}
                    {{ form.as_p }}
                  <div class="row">
                    <div class="col-12">
                        <input type="submit" value="Старт" class="btn btn-primary rounded-0 py-2 px-4"><span class="submitting"></span>
                    </div>
                  </div>
                </form>
                <div id="form-message-warning mt-4"></div>
                <div id="form-message-success"> Your message was sent, thank you! </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}